/* font area here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}



.nav{
    position: sticky;
    top: 0;
    z-index: 10;
}

.bg-pink{
    background-color: 
    #FEEAE9;
    border-radius: 10px;
}

.dark-pink{
color: #FF136F;
margin-bottom: 15px;
}


.carousel-btn{
    text-decoration: none;
    color: white;
   background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    border-radius: 10px;
    padding: 10px 16px;
}

.carousel-btn:hover{
    color: rgb(207, 207, 207);
}

.categories img{
    height: 100px;
}


h3{
    color: black;
 /* margin-top: 40px;
 margin-bottom: 40px; */
 padding-top: 52px;
 padding-bottom: 40px;
}

.categories-item-1{
   background-image: linear-gradient(to right, #ff9c35, #ffd019);
padding: 12px 20px;
border-radius: 10px;
}

.categories-item-2{
    background-image: linear-gradient(to right, #ff589b, #ff136f);
padding: 12px 20px;
border-radius: 10px;
}

.categories-item-3{
    background-image: linear-gradient(to right, #4289ff, #3f07f8);
    padding: 12px 20px;
    border-radius: 10px;
}



.card{
    height: 520px;
    border: none;
    /* box-shadow: 1px 1px 25px lightgray; */
    border: 1px solid lightgray;
}

.subescribe{
    height: 300px;

}


.input-h{
    padding: 6px 16px;
    border: 1px solid #FF136F;
    border-radius: 10px 0px 0px 10px;
}


.sub-btn{
    text-decoration: none;
    color: white;
   background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    border-radius: 0px 10px 10px 0px;
    padding: 10px 16px;
}

.sub-btn:hover{
    color: rgb(206, 206, 206);
}
